body {
        padding-top: 40px;
        padding-bottom: 40px;
}
#git2provContainer{
  text-align:center;
  margin-top:80px;
  margin-bottom:50px;
  text-align:center;
}
#contentContainer{
  width: 100%;
  text-align: left;
}
#giturlContainer{
  width: 70%;
}
#logo {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#instututions{
 width: 100%; 
 margin-left: 20px; 
}
.git2provButton {
   color:#FFFFFF;
   background-color:#5bbf30;
   border-style:solid;
   border-color:#FFFFFF;
   border-width:1px;
}
#ajax-loader {
  visibility:hidden;
  margin-left:-105px;
}
